@import './navBar.sass'
@import './header.sass'
@import './sideMenu.sass'
@import './container.sass'
@import './footer.sass'
$h3Default      : #1cab13
$h3borderDefault : #CCFF90
p
	margin: 0
	padding: 0

body
	margin: 0
	padding: 0
	font-size: 16px

.defaultHeader
	color: $h3Default
	border-bottom: 1px solid $h3borderDefault

.defaultHeader2
	color: $h3Default

.introImage
	margin: 15px 0