.footer
	background: #73b775

.footer  	
  	background: -webkit-linear-gradient(to right, #214618, #73b775 , #214618)
  	background: linear-gradient(to right, #214618, #73b775 , #214618)
	
.footer 
	li
		text-align: center
		margin-top: 20px
		margin-bottom: 20px
.footer
	.imageCol
		text-align: center
		margin-top: 24px
		.img-responsive
			display: inline

.footer
	a
		display: inline-block
		text-decoration: none
		color: #edeeb7
		&:hover
			color: #121307