header
  background: #73b775
  background: -webkit-linear-gradient(to right, #73b775 , #214618)
  background: linear-gradient(to right, #73b775 , #214618)
  background-image: url(../images/contentImage.png)
  .navbar-header
  	float: none
  	padding: 10px 0
  	.navbar-brand
  		display: inline-block 
  		float: none
  		height: auto
  		padding: 0  		
.logo-image
	display: block
.navMenu
	margin-bottom: 0px
	border: 0
	border-radius: 0px
  min-height: auto
	



